/* Spline container */
.spline-container {

bottom: 60px;
  width: 90%;
  max-width: 100%;
  position: relative;
  overflow: visible;
}

/* Base mobile layout */
.hero-section {
   background-color: #000;
   background: 
   radial-gradient(ellipse at 75% 20%, rgba(255, 141, 10, 0.29), transparent 50%),
              radial-gradient(ellipse at 80% 30%, rgba(19, 19, 19, 0.15), transparent 70%);
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  position: relative;
}

.hero-right {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.hero-overlay {
  text-align: center;
  max-width: 100%;
  color: #ffffff;
}

.hero-overlay h1 {
  font-size-adjust:2rem ;
  margin-bottom: 1rem;
}

.hero-overlay p {
  font-size: 0.9rem;
  color: #ffffff;
  margin-bottom: 2rem;
}


/* Responsive fixes */
@media (max-width: 480px) {
  .hero-overlay h1 {
    font-size: 1.2rem;
  }
  .hero-overlay p {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .hero-overlay {
    position: absolute;
    left: 5%;
    top: 30%;
    max-width: 40%;
     font-size:1.3rem ;
    text-align: left;
  }
}
