.services {
  padding: 40px;
  text-align: center;
}
.colop{
  bottom:20px;
}
p {top: 20px;
  max-width: 800px;
  margin: 0 auto 40px;
  font-size: 1rem;
  line-height: 1.6;
}
.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 40px;
  margin-top: 28px;
}

.service-box {
  border: 0.1px solid rgba(124, 65, 36, 0.5);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  border-radius: 12px;
  padding: 20px;
  background: #000;
  color: #ccc;
  width: 250px;
  transition: all 0.3s ease;
  
}

.service-box:hover {
  transform: scale(1.05);
   box-shadow: 0 20px 50px  rgba(196, 99, 51, 0.5);
  
}

.service-box h3 {
  font-family: 'Orbitron', sans-serif;
}

.service-box  ul li::before {
  content: "▸";
  position: absolute;
  left: 0;
  color: #ffffff;
}
.service-box ul {
  list-style: none;
  padding-left: 0;
}

.service-box ul li {
  margin: 0.4rem 0;
  font-size: 0.95rem;
  position: relative;
  padding-left: 1.2rem;
}

.service-box {
     font-weight: bold;
  padding:  18px;
  border-radius: 15px;
   animation: floatIcon 2s ease-in-out infinite;
  color: #ffffff;
  user-select: none;
}


/* FLOATING EFFECT */
@keyframes floatIcon {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}

.service-box:hover 
{
  transform: rotateY(17deg) rotateX(10deg) scale(1.05);
  border-radius: 15px;
  transition: 0.2s; 
}
li
{
text-align: left;
font-weight: bold;
}
.but{
   margin-top: 50px;
}
.services h2
{
   position: relative;
  bottom: 30px;
}
@media (max-width: 1024px) {
  .services {
    padding: 10px 15px;
  }

  .service-list {
    grid-template-columns: repeat( minmax(160px, 1fr));
    gap: 30px;
  }

  .service-box {
    width: auto;
    padding: 15px;
  }

  .service-box ul li {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .service-list {
    grid-template-columns: 1fr;
  }

  .services {
    padding: 15px 10px;
  }

  .service-box {
    padding: 15px;
  }
h2{
  font-size: 1rem;
}
  p {
    font-size: 0.8rem;
  }

  .but {
    margin-top: 30px;
     width: 65%;
    font-size: 0.7rem;
  
}
}


