.education-section {
  padding: 3rem 2rem;
  background-color:  #343539;
  color: #ffffff;
  text-align: center;
}

.education-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.education-section .highlight {
  color: #ccc;
  font-size: 2rem;
}

.education-section p {
  max-width: 750px;
  margin: 0 auto 3rem;
  color: #ccc;
  line-height: 1.6;
  font-size: 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.edu-card {
  background:  #343539;
  border-radius: 16px;
  width: 300px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
   animation: floatIcon 2s ease-in-out infinite;
  color: #ffffff;
  user-select: none;
}

/* FLOATING EFFECT */
@keyframes floatIcon {
  0%, 100% { transform: translateY(0); }
  100% { transform: translateY(-8px); }
}


.edu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px  rgba(227, 225, 225, 0.5);
}

.edu-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.edu-content {
  padding: 1.2rem;
  text-align: left;
}

.edu-content h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #ccc;
}

.edu-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.edu-content li {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  color: #ccc;
  display: flex;
  align-items: center;
}

.edu-content li span {
  margin-right: 0.6rem;
  font-size: 1.1rem;
}
