body {
  overflow: hidden;            
  background-blend-mode: screen;
  font-family:  sans-serif;
  color: #ccc;


  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000; /* Fallback */
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.fade-in {
  animation: fadeIn 1s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

h1{
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;

}
h2{
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
  text-shadow: 0 0 8px #cb9902c4;
  letter-spacing: 1px;
}
button {
  margin: 20px;
  position: relative;
  width: 18rem;
  height: 2.5rem;
  border-radius: 15px;
  background: linear-gradient(to right, #8a745e, #a76542, #c59100, #8f3f03, #757575,  #787063);
  background-size: 200%;
  animation: animationGradient 2s linear infinite;
  box-shadow: 0 0 15px rgba(189, 149, 29, 0.336);
  
}
@keyframes animationGradient
{
  to{
    background-position: 200%;
  }
}
.nav-button button{
 width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  object-fit: cover;
  background-color: #121212; /* optional fallback */
}

/* Gradient animation */
@keyframes animationGradient {
  to {
    background-position: 200%;
  }
}


button:hover {
  box-shadow: 0 0 25px rgba(255,255,255,0.336);
  transform: scale(1.05);
}

button:focus {
  outline: 2px solid rgba(50, 0, 99, 0.6);
}

@media (max-width: 600px) {

  button {
    width: 80%;
    font-size: 0.7rem;
  }
}

